<!DOCTYPE html>
<html>
<head>
	<title>Home</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/sideline.css') }}">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
</head>
<body>

<div class="about" id="about">
	<div class="midtext">
		<h2>About Us.</h2>
		<p>Whether it’s due to medication, a sleep disorder or a poor night’s rest, new research points to the risks and potential dangers of drowsy driving. Missing one to two hours of the recommended seven hours of sleep a night nearly doubles the risk of a car accident. Sleepiness can come without warning, so drivers should prioritize getting enough sleep and avoid driving when they are fatigued.<br><br>
		DrowsyRide helps protecting the driver with an alarm sound when he's feeling drowsy or taking too much yawn. It uses advanced Machine Learning and Facial Recognition using various libraries which can tell and keep track when a person is even blinking. This idea was started by a group of 4 developers who came together.
		</p>
	</div>
	<div class="world">
	<img src="{{ url_for('static', filename='images/world.png') }}" width="800px" align="right"></div>
</div>

	<div class="container">
		<div class="box">
			<div class="chart" data-percent="64">64%</div>
			<h2>Drinking</h2>
		</div>
		<div class="box">
			<div class="chart" data-percent="71">71%</div>
			<h2>Mobile distract</h2>
		</div>
		<div class="box">
			<div class="chart" data-percent="83">83%</div>
			<h2>Drowsiness</h2>
		</div>
		<div class="box">
			<div class="chart" data-percent="42">42%</div>
			<h2>Road Rage</h2>
		</div>
		<div class="end"><h3> Below this shows the data of how much people die in vehicles and by what cause per year</h3>
		</div>
	</div>
	<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
	<script src="{{ url_for('static', filename='js/jquery.easypiechart.js') }}"></script>
	<script>
	    $(function() {
	        $('.chart').easyPieChart({
	            size: 120,
	            barColor: '#047de0',
	            scaleColor: false,
	            lineWidth: 15,
	            trackColor: '#373737',
	            lineCap: 'cicle',
	            animate: 2000,
	        });
	    });
	</script>

<!--Integrate your webapp from here-->
<div class="functioning" id="functioning">
	<h2>The Functioning.</h2>
	<p>
		It uses some detection examples from a Data file, and Reads it converts into learning
		and Then, After cmparing with the face, it stills learn, and start predicting,
		and increases its accuracy, hence becoming better at it.
	</p>
</div>
<!--till here-->

<div class="team" id="team">
	<h2>Meet The Team</h2>
	<div class="profiles">
		<div class="profile">
			<img src="{{ url_for('static', filename='images/shobhit.jpg') }}" class="profile-img">
			<h3 class="user-name">Shobhit Rathi</h3>
			<h5>New Delhi, India</h5>
			<p>17 year old high-school developer, works in frontend development using html, css and javascript. Currently working around with Python scripts and libraries</p>
		</div>
	</div>
	<div class="profiles">
		<div class="profile">
			<img src="{{ url_for('static', filename='images/sunrit.jpg') }}" class="profile-img">
			<h3 class="user-name">Sunrit Jana</h3>
			<h5>Chennai, India</h5>
			<p>I am a developer from India, Currently focusing on Python Programming and Javascript for Frontend! And yea, As a student, I have to Juggle Music, Studies, and Coding</p>
		</div>
	</div>
	<div class="profiles">
		<div class="profile">
			<img src="{{ url_for('static', filename='images/unknown.jpg') }}" class="profile-img">
			<h3 class="user-name">Rohith</h3>
			<h5>Chennai, India</h5>
			<p>A Python programmer and web-app developer. Currently working and learning about ML and automation</p>
		</div>
	</div>
	<div class="profiles">
		<div class="profile">
			<img src="{{ url_for('static', filename='images/unknown.jpg') }}" class="profile-img">
			<h3 class="user-name">Jake Zeiter</h3>
			<h5>Illinois, USA</h5>
			<p>Programmer with primary lang Python, comfortable with C and Java. My emphasis is on AI and ML and mathematics</p>
		</div>
	</div>
</div>



</body>
</html>
